@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #6e45e2, #88d3ce);
}

// .user-management-container {
//     background: rgba(255, 255, 255, 0.1);
//     padding: 20px;
//     border-radius: 10px;
//     backdrop-filter: blur(10px);
//     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
//     animation: fadeIn 1.5s ease-in-out;
//     width: 80%;
// }

h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 2rem;
    position: relative;
    animation: slideIn 1.5s ease;
}

.columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    flex: 1;
    margin: 0 10px; 
}

h3 {
    color: #fff;
    margin-bottom: 10px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.input-group input {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 1.2rem;
    outline: none;
    transition: all 0.3s ease;
}

.input-group label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-group input:focus + label,
.input-group input:valid + label {
    top: -20px;
    font-size: 0.8rem;
    color: #88d3ce;
}

button {
    padding: 10px 20px;
    background-color: #fff;
    color: #6e45e2;
    border: none;
    border-radius: 50px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.4s ease, transform 0.2s ease;
}

button:hover {
    background-color: #88d3ce;
    transform: translateY(-5px);
}

.popup {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}